/*Diseño About Us*/

.About .sector-titulo {
	padding-bottom: 40px;
}


.team .sector-titulo .main-staff {
	font-size: 15px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 5px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #08694c;
}
.team .sector-titulo .main-staff::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: #087241;
	margin: 4px 10px;
}
.team .main-head {
	margin: 0;
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #205f51;
}
.miembro-flex{
    display: flex;
    flex-direction: row;
    background-color: #dee2e6;
	margin-top: 60px;
    }
    
    .miembro-flex img{
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    
    .miembro-info{
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 40px;
        width: 70%;
		margin-left: 2%;
    }
.team .miembro .miembro-head {
	font-weight: 700;
	margin-bottom: 5px;
	font-size: 20px;
	color: #556270;
	line-height: 1.2;
}
.team .miembro span {
	display: block;
	font-size: 15px;
	padding-bottom: 10px;
	position: relative;
	font-weight: 500;
}
.team .miembro span::after {
	content: '';
	position: absolute;
	display: block;
	width: 50px;
	height: 1px;
	background: #dee2e6;
	bottom: 0;
	left: 0;
}
.team .miembro .miembro-para {
	margin: 10px 0 0 0;
	font-size: 14px;
}
