#contenedor-compra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
#contenedor-juego{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-right: 2%;
    text-align: center;
    height: 600px;
}
#contenedor-tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contenedor-nombre{
    display: flex;
    flex-direction: row;
}
#contenedor-numeros{
    display: flex;
    flex-direction: row;
}
.alineador{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.alineador p{
    margin-bottom: -2px;
}
#fecha_vencimiento{
    width: 50px;
}
#codigo_seguridad{
    width: 40px;
}
.fecha_cadd{
    margin-left: 10px;
}
.error{
    color: red;
}
#centrame_esto{
    display: flex;
    flex-direction: column;
    text-align: center;
}