<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/card.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <title>Pagina de compra de {{game.nombre}}</title>
</head>
<body class="body-style">
  <header id="main-header">
      <nav id="main-nav">
        <ul>
          <li>
            <a class="nav-link home" href="/">Inicio</a>
          </li>
          {% if current_user.is_authenticated %}
          <li>
          <a class="nav-link game" href="/login">Cerrar sesion</a>
          </li>
          <li>
          <a class="nav-link game" href="/cjuegos">Modificar Catalogo</a>
          </li>
          {% else %}
          <li>
          <a class="nav-link game" href="/login">Log-in</a>
          </li>
          {% endif %}
          <li>
            <a class="nav-link us" href="/nosotros">Acerca de nosotros</a>
          </li>
        </ul>
      </nav>
  </header>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <div id="banner">
    <img src="{{ url_for('static', filename='img/banner.jpeg') }}" alt="Banner de la pagina">
  </div>
  <main>
    <section id="contenedor-compra">
      <div id="contenedor-juego">
        <h1>{{game.nombre}}</h1>
        <img src="{{game.imagen}}" alt="imagen del juego {{game.nombre}}">
      </div>
      <div id="contenedor-tarjeta">
        <div>
          <form action="/comprado/{{game.id}}" id="formulario_tarjeta" name="formulario_tarjeta" method="POST">
            <div id="contenedor-nombre">
              <div class="alineador formField" >
              <p> Apellido del propietario </p>
              <input id="apellido_tarjeta" type="text" name="apellido_tarjeta" placeholder="Hernandez"> 
              <small></small>
              </div>
              <div class="alineador formField">
              <p> Nombre del propietario </p>
              <input id="nombre_tarjeta" type="text" name="nombre_tarjeta" placeholder="Fabricio Simon">
              <small></small>
              </div>
            </div>
            <div id="contenedor-numeros">
              <div class="alineador formField">
              <p> Numero de tarjeta </p>
              <input id="numero_tarjeta" type="text" name="numero_tarjeta" placeholder="0000 0000 00">
              <small></small>
              </div>
              <div class="alineador formField">
              <p> Numero de seguridad </p>
              <input id="REAL" type="hidden" name="REAL" value="true">
              <input id="codigo_seguridad" type="text" name="codigo_seguridad" placeholder="800">
              <small></small>
              </div>
            </div>
            <div class="alineador formField">
            <p> Fecha de caducidad </p> 
            <input id="fecha_vencimiento" type="text" name="fecha_vencimiento" placeholder="09/23">
            <button id="boton-envio" type="button"> Enviar </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
  <script src="{{ url_for('static', filename='/js/card.js') }}"></script>
</body>
</html>