<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script src="../js/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body class="body-style">
  <header id="main-header">
    <nav id="main-nav">
      <ul>
        <li>
          <a class="nav-link home" href="/">Inicio</a>
        </li>
        {% if current_user.is_authenticated %}
        <li>
        <a class="nav-link game" href="/login">Cerrar sesion</a>
        </li>
        <li>
        <a class="nav-link game" href="/cjuegos">Modificar Catalogo</a>
        </li>
        {% else %}
        <li>
        <a class="nav-link game" href="/login">Log-in</a>
        </li>
        {% endif %}
        <li>
          <a class="nav-link us" href="/nosotros">Acerca de nosotros</a>
        </li>
      </ul>
    </nav>
  </header>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <div id="banner">
    <img src="{{ url_for('static', filename='img/banner.jpeg') }}" alt="Banner de la pagina">
  </div>
  <h1 class="h1-style">Lorem ipsum dolor sit amet consectetur.</h1>
  <div class="container-index contenedor seccion">
    <section class="sistemas">
      <div class="sistema-juego">
        <img class="coversistema" src="{{ url_for('static', filename='img/sistemas/PC.png') }}" alt="Imagen representativa de una pc">
        <h3 class="centrar-texto">Personal Computer</h3>
      </div>
      <div class="sistema-juego">
        <img class="coversistema" src="{{ url_for('static', filename='img/sistemas/ps2.png') }}" alt="Imagen representativa de una playstation 2">
        <h3 class="centrar-texto">Playstation 2</h3>
      </div>
    </section>

    <div id="contenedor-juegos">
      <h2 class="seccion">Juegos-PC</h2>
      <section class="juegos">
        {% for juego in juegos %}
          {% if juego.sistema_juego == "pc" %}
            <img class="img-juego" src="{{ juego.imagen }}" alt="Imagen Cover de {{juego.nombre}}" onclick="javascript:window.location='/juego/{{juego.id}}';">
          {% endif %}
        {% endfor %}
        <!--
        <img class="img-juego" src="{{ url_for('static', filename='img/juegos/halflife.jpg') }}" alt="Imagen Cover de Half-Life">
        <img class="img-juego" src="{{ url_for('static', filename='img/juegos/cs.png') }}" alt="Imagen cover de Counter-strike">
        <img class="img-juego" src="{{ url_for('static', filename='img/juegos/cod2.png') }}" alt="Imagen Cover de Call of duty 2">
        <img class="img-juego" src="{{ url_for('static', filename='img/juegos/pathologic.jpg') }}" alt="Imagen cover de Pathologic">
        <img class="img-juego" src="{{ url_for('static', filename='img/juegos/terraria.jpeg') }}" alt="Imagen cover de Terraria">
        <img class="img-juego" src="{{ url_for('static', filename='img/juegos/lunky2.jpg') }}" alt="Imagen cover de Spelunky 2">
        -->
      </section>

      <h2 class="seccion">Juegos-PS2</h2>
      <section class="juegos">
        {% for juego in juegos %}
          {% if juego.sistema_juego == "ps2" %}
            <img class="img-juego" src="{{ juego.imagen }}" alt="Imagen Cover de {{juego.nombre}}" onclick="javascript:window.location='/juego/{{juego.id}}';">
          {% endif %}
        {% endfor %}
        <!--
        <img class="img-juego" src="{{ url_for('static', filename='img/juegos/sh2.jpg') }}" alt="Imagen Cover de Silent Hill 2">
        <img class="img-juego" src="{{ url_for('static', filename='img/juegos/gow2.jpg') }}" alt="Imagen cover de God of War 2">
        <img class="img-juego" src="{{ url_for('static', filename='img/juegos/siren.jpg') }}" alt="Imagen Cover de Siren">
        <img class="img-juego" src="{{ url_for('static', filename='img/juegos/re4.png') }}" alt="Imagen cover de Resident evil 4">
        -->
      </section>
    </div>
  </div>
  <footer class="site-footer seccion">
    <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="/login">Log-in</a>
          <a href="/nosotros">Acerca de nosotros</a>
        </nav>
        <p class="copyright">Todos los Derechos Reservados 2023 &copy;</p>
    </div>
  </footer>
</body>
</html>
