<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body class="body-style">
  <header id="main-header">
    <nav id="main-nav">
      <ul>
        <li>
          <a class="nav-link home" href="/">Inicio</a>
        </li>
        {% if current_user.is_authenticated %}
        <li>
        <a class="nav-link game" href="/login">Cerrar sesion</a>
        </li>
        <li>
        <a class="nav-link game" href="/cjuegos">Modificar Catalogo</a>
        </li>
        {% else %}
        <li>
        <a class="nav-link game" href="/login">Log-in</a>
        </li>
        {% endif %}
        <li>
          <a class="nav-link us" href="/nosotros">Acerca de nosotros</a>
        </li>
      </ul>
    </nav>
  </header>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <div id="banner">
    <img src="{{ url_for('static', filename='img/banner.jpeg') }}" alt="Banner de la pagina">
  </div>
  <h1 class="h1-style">Bienvenido al vicio!!</h1>
  <div class="container-index contenedor seccion">
    <section class="sistemas">
      <div class="sistema-juego">
        <img class="coversistema" src="{{ url_for('static', filename='img/sistemas/PC.png') }}" alt="Imagen representativa de una pc">
        <h3 class="centrar-texto">Personal Computer</h3>
      </div>
      <div class="sistema-juego">
        <img class="coversistema" src="{{ url_for('static', filename='img/sistemas/ps2.png') }}" alt="Imagen representativa de una playstation 2">
        <h3 class="centrar-texto">Playstation 2</h3>
      </div>
    </section>
    
    <div id="contenedor-juegos">
      <h2 class="seccion">Juegos-PC</h2>
      <section class="juegos">
        <div class="swiper mySwiperPC">
          <div class="swiper-wrapper">
            {% for juego in juegos %}
              {% if juego.sistema_juego == "pc" %}
                <div class="swiper-slide" style="background-image: url('{{juego.imagen}}');">
                  <button onclick="location.href='/juego/{{juego.id}}'">Visitar pagina</button>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </section>
      <h2 class="seccion">Juegos-PS2</h2>
      <section class="juegos">
        <div class="swiper mySwiperPS2">
          <div class="swiper-wrapper">
            {% for juego in juegos %}
              {% if juego.sistema_juego == "ps2" %}
                <div class="swiper-slide" style="background-image: url('{{juego.imagen}}');">
                  <button onclick="location.href='/juego/{{juego.id}}'">Visitar pagina</button>
                </div>
              {% endif %}
            {% endfor %} 
          </div>
        </div>
      </section>
    </div>
  </div>
  <footer class="site-footer seccion">
    <div class="contenedor contenedor-footer">
        <nav class="navegacion">
          <a href="/login">Log-in</a>
          <a href="/nosotros">Acerca de nosotros</a>
        </nav>
        <p class="copyright">Todos los Derechos Reservados 2023 &copy;</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>
</html>
